@model IEnumerable<Post>
@{
    ViewData["Title"] = "Home Page";
}

<form id="createPost">

    <div class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        <label > Imagine Your Post </label>

        <textarea id="postDetailInput" class="form-control" rows="3" required></textarea>
        <span  class="text-danger"></span>
        <button  type="submit"  class="btn btn-primary mt-2">Post</button>
    </div>
</form>

<table id="postTable" class="table table-dark mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Post Content</th>
                <th scope="col">Actions</th>
                 <th scope="col"></th>

            </tr>
        </thead>
        <tbody>

        @foreach (var post in Model)
        {
            <tr data-id="@post.Id">
                <th scope="col">@post.Id</th>
                <td>
                    <input type="text" class="nameInput form-control" value="@post.PostDetails"  />
                </td>
             


                <td width="20%">
                        <div class="d-flex justify-content-center">
                        <a class="btn btn-warning mx-2 updateButton"><i class="bi bi-pencil-square"></i>&nbsp Edit</a>

                        </div>                
                    
                </td>

                <td width="20%">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-danger mx-2 deleteButton"><i class="bi bi-trash"></i>&nbsp Delete</a>

                    </div>

                </td>
            </tr>
        }

        </tbody>
    </table>


@section Scripts {
    <script>
        $(document).ready(function () {
            // Create
            $('#createPost').submit(function (event) {
                event.preventDefault();
                var postDetails = $('#postDetailInput').val();
                $.ajax({
                    url: '/Home/Create',
                    type: 'POST',
                    data: { postDetails: postDetails },
                    success: function () {
                        location.reload();
                    }
                });
            });

            // Update
            $('body').on('click', '.updateButton', function () {
                var tr = $(this).closest('tr');
                var id = tr.data('id');
                var postDetails = tr.find('.nameInput').val();
                $.ajax({
                    url: '/Home/Update',
                    type: 'POST',
                    data: { id: id, postDetails: postDetails },
                    success: function () {
                        location.reload();
                    }
                });
            });

            // Delete
            $('body').on('click', '.deleteButton', function () {
                var tr = $(this).closest('tr');
                var id = tr.data('id');
                $.ajax({
                    url: '/Home/Delete',
                    type: 'POST',
                    data: { id: id },
                    success: function () {
                        tr.remove();
                    }
                });
            });
        });
    </script>
}
